doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title La French Tech Tokyo › A network of entrepreneurs in Japan

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/navbar-logo.png', alt='...')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#services') What we do
                        li.nav-item
                            a.nav-link(href='#portfolio') Who we are
                        li.nav-item
                            a.nav-link(href='#about') Our Community
                        li.nav-item
                            a.nav-link(href='#team') Our events
                        li.nav-item
                            a.nav-link(href='#contact') Get involved
        // Masthead
        header.masthead
            .container
                .masthead-heading.text-uppercase French Tech Tokyo
                .masthead-subheading.text-uppercase A bridge for startups between Japan and France
                a.btn.btn-primary.btn-lg.text-uppercase(href='https://lafrenchtech.us19.list-manage.com/subscribe?u=d6e1fd1348d210a27a61dfd37&id=813862e4f2') Join our newsletter
                a.btn.btn-primary.btn-lg.text-uppercase(href='') About the community fund

        // Services
        section#services.page-section
            .container
                .text-center.section-heading-container
                    h3.section-subheading.text-muted Learn about
                    h2.section-heading.text-uppercase What we do
                .row.text-center
                    a.col-lg-3.col-sm-6(tile='A mission for startups', href='/support-for-startups/')
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.far.fa-star.fa-stack-1x.fa-inverse
                        h4.my-3.text-dark A mission for startups
                        p.text-muted
                            | French Tech helps all members of its ecosystem to create exchanges and help them grow.
                    a.col-lg-3.col-sm-6(tile='Get a French Tech Visa', href='/french-tech-visa/')
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.far.fa-compass.fa-stack-1x.fa-inverse
                        h4.my-3.text-dark Get a French Tech Visa
                        p.text-muted
                            | One of the latest initiatives to attract foreign talent to France is the introduction of the French Tech Visa.
                    a.col-lg-3.col-sm-6(tile='About the community fund', href='/community-fund/')
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.far.fa-money-bill-alt.fa-stack-1x.fa-inverse
                        h4.my-3.text-dark About the community fund
                        p.text-muted
                            | The French government earmarked put wind in the sails of French Tech community and ecosystem initiatives.
                    a.col-lg-3.col-sm-6(tile='Attend our events', href='/events/')
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.far.fa-calendar.fa-stack-1x.fa-inverse
                        h4.my-3.text-dark Attend our events
                        p.text-muted
                            | Upcoming events and shows in which the French Tech Tokyo is implicated.

        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center.section-heading-container
                    h3.section-subheading.text-muted Meet the team
                    h2.section-heading.text-uppercase Who we are
                    .section-text.text-muted
                        | The French Tech Tokyo is the hub of the French Tech scene based in Tokyo and Japan, bringing together companies, startups, investors, events and organizations.

                .row
                    .col-6
                        // Portfolio item 1
                        .portfolio-item
                            a.portfolio-link(href='/our-vision')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='/assets/img/French_Tech_Tokyo_Our_Vision-640x400.png', alt='French Tech Tokyo Vision')
                            .portfolio-caption
                                .portfolio-caption-heading Our Vision
                                .portfolio-caption-subheading.text-muted
                                    | We want to help entrepreneurs based in Japan, to succeed and have a better understanding of the Japanese startup ecosystem.


                    .col-6
                        // Portfolio item 2
                        .portfolio-item
                            a.portfolio-link(href='/our-team')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='/assets/img/French-Tech-Team-640x400.jpeg', alt='French Tech Tokyo Team')
                            .portfolio-caption
                                .portfolio-caption-heading Our Team
                                .portfolio-caption-subheading.text-muted
                                    | Meet the fine folks that helps keep the trains running.

        // About
        section#about.page-section
            .container
                .text-center.section-heading-container
                    h3.section-subheading.text-muted La French Tech Ecosystem
                    h2.section-heading.text-uppercase Our Community

                .row.text-center.equal
                    .col-4
                        .h4 Members
                        img.img-fluid(src='/assets/img/group.png')
                        p.text-muted
                            | Members are those who have expressed an interest in La French Tech Tokyo.
                            | They are welcome to freely join La French Tech Tokyo’s events and are kept informed through the newsletter and social media presence.
                        a.btn.btn-primary.align-self-end(href='#')
                            | Apply for membership

                    .col-4
                        .h4 Certified Members
                        img.img-fluid(src='/assets/img/medal-2.png')
                        p.text-muted
                            | Startups who, by supporting in various way La French Tech Tokyo activities, will be associated to the brand and receive support from us in their goal to gain more visibility in the ecosystem.
                        a.btn.btn-primary.align-self-end(href='#')
                            | Become a certified member

                    .col-4
                        .h4 Partners
                        img.img-fluid(src='/assets/img/partner.png')
                        p.text-muted.mb-auto
                            | Partners are local corporations, accelerators or institutions who wish to collaborate with La French Tech Tokyo with the main goal to improve the local entrepreneurial ecosystem.
                        a.btn.btn-primary.align-self-end.justify-self-end(href='#')
                            | Become a partner






        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Our Amazing Team
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/1.jpg', alt='...')
                            h4 Parveen Anand
                            p.text-muted Lead Designer
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/2.jpg', alt='...')
                            h4 Diana Petersen
                            p.text-muted Lead Marketer
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='...')
                            h4 Larry Parker
                            p.text-muted Lead Developer
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.

        // Clients
        div.py-5
            .container
                .row.align-items-center
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/microsoft.svg', alt='...')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/google.svg', alt='...')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/facebook.svg', alt='...')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/ibm.svg', alt='...')

        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Contact Us
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.

                // * * * * * * * * * * * * * * *
                // * * SB Forms Contact Form * *
                // * * * * * * * * * * * * * * *

                // This form is pre-integrated with SB Forms.
                // To make this form functional, sign up at
                // https://startbootstrap.com/solution/contact-forms
                // to get an API token!

                form#contactForm(data-sb-form-api-token='API_TOKEN')
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group

                                // Name input
                                input#name.form-control(
                                    type='text',
                                    placeholder='Your Name *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='name:required')
                                    | A name is required.

                            .form-group

                                // Email address input
                                input#email.form-control(
                                    type='email',
                                    placeholder='Your Email *',
                                    data-sb-validations='required,email'
                                )
                                .invalid-feedback(data-sb-feedback='email:required')
                                    | An email is required.
                                .invalid-feedback(data-sb-feedback='email:email')
                                    | Email is not valid.

                            .form-group.mb-md-0

                                // Phone number input
                                input#phone.form-control(
                                    type='tel',
                                    placeholder='Your Phone *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='phone:required')
                                    | A phone number is required.

                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0

                                // Message input
                                textarea#message.form-control(
                                    placeholder='Your Message *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='message:required')
                                    | A message is required.

                    // Submit success message
                    //
                    // This is what your users will see when the form
                    // has successfully submitted

                    #submitSuccessMessage.d-none
                        .text-center.text-white.mb-3
                            .fw-bolder Form submission successful!
                            | To activate this form, sign up at
                            br
                            a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                    // Submit error message
                    //
                    // This is what your users will see when there is
                    // an error submitting the form

                    #submitErrorMessage.d-none
                        .text-center.text-danger.mb-3 Error sending message!

                    // Submit Button
                    .text-center
                        button#submitButton.btn.btn-primary.btn-xl.text-uppercase.disabled(type='submit') Send Message

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; Your Website 2021
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-end
                        a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                        a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Portfolio Modals
        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3
        include includes/portfolio-modal-4
        include includes/portfolio-modal-5
        include includes/portfolio-modal-6

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
